@page "/books"
@inject HttpClient Http

<PageTitle>Books</PageTitle>

<h1>Books</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>GenreId</th>
                <th>PublisherId</th>
                <th>SeriesId</th>
                <th>Read Date</th>
                <th>Status</th>
                <th>Rating</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.GenreId</td>
                    <td>@book.PublisherId</td>
                    <td>@book.SeriesId</td>
                    <td>@book.ReadDate.ToString()</td>
                    <td>@book.Status</td>
                    <td>@book.AverageRating</td>
                    <td>@book.Comments</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Book[]? books;

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<Book[]>("api/book");
    }
}
