@page "/ratings"
@inject HttpClient Http

<PageTitle>Ratings</PageTitle>

<h1>Ratings</h1>

<p>This page displays ratings submitted by users.</p>

@if (ratings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Rating</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rating in ratings)
            {
                <tr>
                    <td>@rating.Id</td>
                    <td>@rating.UserId</td>
                    <td>@rating.BookId</td>
                    <td>@rating.UserRating</td>
                    <td>@rating.Comment</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Rating[]? ratings;

    protected override async Task OnInitializedAsync()
    {
        ratings = await Http.GetFromJsonAsync<Rating[]>("api/rating");
    }
}
